@{
    ViewData["Title"] = "Tasks";
    ViewData["Header"] = "Uncompleted Tasks";
}

@model List<TaskModel>

@* Grid Style *@
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        background-color: #C2D0DD;
        padding: 10px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }

</style>

@* Quadrant 1 *@
<div class="grid-container">
    <div class="grid-item">
        <h4 style="font-weight:bold">Quadrant 1</h4><br />

        @foreach (var x in Model)
        {
            @if (x.Completed == false)
            {
                if (x.Quadrant == "1")
                {
                    <container>
                        <div class="row">
                            <div class="col-9">
                                <h5>@x.TaskName</h5>
                            </div>

                            <div class="col-1;"><h5><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></h5></div>
                            <br />
                            <div class="col-2;"><h5><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></h5></div><br />
                        </div>
                    </container>
                }
            }
        }
    </div>

@* Quadrant 2 *@
    <div class="grid-item">
        <h4 style="font-weight:bold">Quadrant 2</h4><br />

        @foreach (var x in Model)
        {
            @if (x.Completed == false)
            {
                if (x.Quadrant == "2")
                {
                    <container>
                        <div class="row">
                            <div class="col-9">
                                <h5>@x.TaskName</h5>
                            </div>

                            <div class="col-1"><h5><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></h5></div>
                            <div class="col-2"><h5><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></h5></div><br />
                        </div>
                    </container>
                }
            }
        }
    </div>

    @* Quadrant 3 *@
    <div class="grid-item">
        <h4 style="font-weight:bold">Quadrant 3</h4><br />

        @foreach (var x in Model)
        {
            @if (x.Completed == false)
            {
                if (x.Quadrant == "3")
                {
                    <container>
                        <div class="row">
                            <div class="col-9">
                                <h5>@x.TaskName</h5>
                            </div>

                            <div class="col-1"><h5><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></h5></div>
                            <div class="col-2"><h5><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></h5></div><br />
                        </div>
                    </container>
                }
            }
        }
    </div>


    @* Quadrant 4 *@
    <div class="grid-item">
        <h4 style="font-weight:bold">Quadrant 4</h4><br />

        @foreach (var x in Model)
        {
            @if (x.Completed == false)
            {
                if (x.Quadrant == "4")
                {
                    <container>
                        <div class="row">
                            <div class="col-9">
                                <h5>@x.TaskName</h5>
                            </div>

                            <div class="col-1"><h5><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></h5></div>
                            <div class="col-2"><h5><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></h5></div><br />
                        </div>
                    </container>
                }
            }
        }
    </div>
</div>